* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.2);
  --switch-bg: url(./assets/sun.svg);
}

body {
  /* background-image: url(./assets/bg-mobile.jpg);
background-repeat: no-repeat;
background-position: top center;
background-size: cover; */

  /* shorthand do background: color image repeat position/size */
  background: var(--bg-url) no-repeat top center/cover;

  height: 100vh;
}
body * {
  font-family: "inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  /* height: 712px; */
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 56px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

#switch {
  position: relative;
  width: 64px;
  margin: auto;
  cursor: pointer;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  cursor: pointer;

  animation: slide-back 0.2s forwards;
}

.light #switch button {
  animation: slide-in 0.2s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: bold;

  transition: background 0.5s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1px solid var(--text-color);
}

#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;

  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
}

footer a {
  text-decoration: none;
}

/* media queries */

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(.assets/bg-desktop-light.jpg);
  }
}

/* animation */

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}

/* teste pop up */

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup-content {
  background-image: url('./assets/bg-dia-namorados.jpg'); /* Substitua 'caminho/para/imagem.jpg' pelo caminho correto da imagem de fundo com corações */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #000;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.cta-button {
  display: inline-block;
  background-color: #ff4081;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  animation: pulse 1.5s infinite; /* Adiciona a animação de pulsação */
}

.cta-button:hover {
  background-color: #ff206b;
}

@keyframes pulse {
  0% {
    background-color: #ff4081;
  }
  50% {
    background-color: #ff206b;
  }
  100% {
    background-color: #ff4081;
  }
}
